@import "base.scss";
@import "common.scss";

header p {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0.3em;
}

/*
https://codepen.io/jamelouis/pen/OBXKqZ
*/
.vertical-align {
    font-size: 26px;
    width: 160px;
    height: 93px;
    border-radius: 80px;
    text-align: center;
    padding-top: 67px;
    display: inline-block;
    box-sizing: content-box;
}
