
* {
    box-sizing: border-box;
}


header {
    background-color: rgb(61, 79, 93);
    text-align: center;
    height: 100vh;
    color: white;
}

header h1 {
    font-size: 3em;

    border-radius: 3em;
    padding: 0.2em;
    margin: 0.2em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2em;
}

a {
    text-decoration: none;
}
.info li {
    background: #3c67a3;
    border-bottom: thin gray solid;
    margin-bottom: 0.2em;
    padding: 0.6em;
}

.info li a {
    text-align: right;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
}

.info li a:hover {
    color: rgb(138, 55, 55);
}

.topic {

}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
    padding-bottom: 0.2em;
    display: block;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: bold;
}

.topic a {
    color: black;
    text-decoration: none;
}

.topic a:hover {
    color: black;
}


/* Layout */
.info {
    padding: 1em;
    margin: 50vh auto 0;
    transform: translateY(-50%);

}

.content {
    padding-left: 1em;
    text-align: left;
    padding-bottom: 3em;
}


header {
    grid-area: "header";
    position: fixed;
    top: 0;
    bottom:0;
    width: 25%;
}

.content {
    padding-left: 27%;;
    padding-top: 1em;
    padding-right: 3em;
}

.content p {
    padding-bottom: 1em;
    line-height: 1.5em;
}

.content li p {
    padding-bottom: 0;
    line-height: 1em;
}
img {
    max-width: 100%;
    padding: 1em 1em 1em 1em;
}

li img {
    padding: 0;
}

ol {
    list-style: decimal;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.content ul {
    list-style: circle;
    padding-left: 1em;
}

.content li {
    padding: 0.2em;
}


.content ol ul {
    padding-left: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.highlight {
    padding: 0.5em;
    background: gray;
    margin-bottom: 0.5em;
    overflow-x: auto;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

p.post-meta {
    color: rgb(143, 129, 129);
}

span.articles-count {
    display: inline-block;
    background-color: rgb(93, 102, 151);
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    font-size: 0.4em;
}

.topic-title {
    display: inline-block;
}

.clear-float {
    clear: both;
}

.vertical-align {
    transform: translateY(-50%);
    background: #4d85d1;
    padding: 20px 15px 20px 15px;
    border-radius: 100px;
}

@media screen and (max-width: 900px) {
    .info {
        margin: auto;
        transform: translateY(0);
    }
    .info li {
        display: inline-block;
        padding: 8px;
    }
    header {
        position: static;
        width: 100%;
        height: 230px;
    }
    .content {
        padding-left: 2em;
        overflow-x: hidden;
    }
}