---
---
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>
        <header>
            <div class="vertical-align-whole-page">
                <span class="vertical-align"><a href="{{ site.base_url }}">Jame Louis</a></span>
                <p>I am a software engineer.</p>
                <p>And I like</p>
                <nav>
                    <ul>
                            <li>
                                <a href="{{ site.reading_url }}">Reading</a>
                            </li>
                            <li>
                                <a href="{{ site.traveling_url }}">Traveling</a>
                            </li>
                            <li>
                                <a href="{{ site.eating_url }}">Eating</a>
                            </li>
                        </ul>
                </nav>
                
            </div>
        </header>
        <section class="content">
            <h1>{{page.title}}</h1>
            {{content}}
        </section>
    </body>
</html>